Repository ella-mzg/ci-cd-multicontainer-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, test_backend, test_frontend

build_backend:
  stage: build
  image: docker:27.3.1
  services:
  - docker:27.3.1-dind
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
  - docker build --no-cache --progress=plain -t $BACKEND_IMAGE:$CI_COMMIT_REF_SLUG backend/
  ...

build_frontend:
  stage: build
  image: docker:27.3.1
  services:
  - docker:27.3.1-dind
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
  - docker build --no-cache --progress=plain -t $FRONTEND_IMAGE:$CI_COMMIT_REF_SLUG frontend/
  ...

test_backend:
  stage: test
  image: $BACKEND_IMAGE:latest
  services:
  - name: postgres:latest
    alias: postgres
  variables:
    POSTGRES_HOST: postgres
  script:
  - apt-get update && apt-get install -y postgresql-client
  - until pg_isready -h $POSTGRES_HOST -U $POSTGRES_USER -d $POSTGRES_DB; do sleep 1; done
  ...

test_frontend:
  stage: test
  image: $FRONTEND_IMAGE:$CI_COMMIT_REF_SLUG
  script:
  - echo "Run frontend tests here"

change stuff again - See #14
  .gitlab-ci.yml
  frontend/src/testSast.js
Due: build_frontend, test_frontend

remove custom sast job - See #14
  .gitlab-ci.yml
  backend/test_sast.py
Due: build_backend, test_backend

comment the dangerous code - Closes #14
  .gitlab-ci.yml
  backend/test_sast.py
Due: build_backend, test_backend

feat: integrate SAST
  .gitlab-ci.yml
  backend/test_sast.py
Due: build_backend, test_backend

add frontend tests - See #24
  .gitlab-ci.yml
  frontend/.babelrc
  frontend/jest.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/addTask.test.js
  frontend/src/tests/deleteTask.test.js
  frontend/src/tests/fetchTasks.test.js
  frontend/src/tests/toggleTask.test.js
Due: build_frontend, test_frontend

debug frontend test job - See #24
  .gitlab-ci.yml
Due: none

trigger pipeline - See #24
  frontend/src/tests/deleteTask.test.js
Due: build_frontend, test_frontend

fix frontend test path- See #24
  .gitlab-ci.yml
  frontend/src/tests/deleteTask.test.js
Due: build_frontend, test_frontend

replace npm with npx for test - See #24
  .gitlab-ci.yml
  frontend/src/tests/deleteTask.test.js
Due: build_frontend, test_frontend

install dependencies in test image - See #24
  .gitlab-ci.yml
  frontend/src/tests/deleteTask.test.js
Due: build_frontend, test_frontend

trigger the fucking pipeline again - See #24
  .gitlab-ci.yml
  frontend/src/tests/toggleTask.test.js
Due: build_frontend, test_frontend

clean test file - See #24
  frontend/src/tests/toggleTask.test.js
Due: build_frontend, test_frontend

feat: add frontend tests
  .gitlab-ci.yml
  frontend/.babelrc
  frontend/jest.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/addTask.test.js
  frontend/src/tests/deleteTask.test.js
  frontend/src/tests/fetchTasks.test.js
  frontend/src/tests/toggleTask.test.js
Due: build_frontend, test_frontend

enhance env variables management - Closes #25
  .gitignore
  backend/app.py
  backend/config.py
  docker-compose.yml
  frontend/.babelrc
  frontend/healthcheck.js
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: build_backend, build_frontend, test_backend, test_frontend

fix backend config - Fixes #25
  backend/config.py
Due: build_backend, test_backend

feat: centralize environment variables
  .gitignore
  backend/app.py
  backend/config.py
  docker-compose.yml
  frontend/.babelrc
  frontend/healthcheck.js
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: build_backend, build_frontend, test_backend, test_frontend

add project README - Closes #5
  README.md
Due: none

docs: add project README
  README.md
Due: none

add architecture and API docs - Closes #8
  .gitlab-ci.yml
  docs/api.md
  docs/architecture.md
Due: none

docs: document architecture and API
  .gitlab-ci.yml
  docs/api.md
  docs/architecture.md
Due: none

add project report - Closes #6
  docs/gl-sast-report.json
  docs/guidelines.md
  docs/project-report.md
Due: none

docs: add project report
  docs/gl-sast-report.json
  docs/guidelines.md
  docs/project-report.md
Due: none

set up GitLab Pages - See #7
  .gitlab-ci.yml
  docs/index.md
  mkdocs.yml
Due: none

reorganize documentation - See #7
  .gitlab-ci.yml
  docs/challenges.md
  docs/gitlab-analysis.md
  docs/improvements.md
  docs/index.md
  docs/organization.md
  docs/project-report.md
  mkdocs.yml
Due: none

fix pipeline - See #7
  .gitlab-ci.yml
Due: none

rename site/ to public/ - See #7
  .gitlab-ci.yml
Due: none

add link to hosted documentation in README - Closes #7
  README.md
Due: none

feat: set up gitlab pages
  .gitlab-ci.yml
  README.md
  docs/challenges.md
  docs/gitlab-analysis.md
  docs/improvements.md
  docs/index.md
  docs/organization.md
  docs/project-report.md
  mkdocs.yml
Due: none

enhance environment handling and set up reverse proxy - See #17
  backend/app.py
  backend/config.py
  backend/healthcheck.py
  backend/routes.py
  backend/tests/test_tasks.py
  default.conf
  docker-compose.yml
  docs/api.md
  docs/architecture.md
  frontend/Dockerfile
  frontend/healthcheck.js
  frontend/next.config.mjs
Due: build_backend, build_frontend, test_backend, test_frontend

update documentation - See #17
  README.md
  docs/architecture.md
  docs/challenges.md
  docs/improvements.md
Due: none

test deployment script and CI/CD integration - See #17
  .gitlab-ci.yml
  deploy.sh
Due: none

debug deploy job - See #17
  .gitlab-ci.yml
Due: none

fix host variable name - See #17
  .gitlab-ci.yml
  deploy.sh
Due: none

make deploy script executable- See #17
  .gitlab-ci.yml
Due: none

debug target dir - See #17
  .gitlab-ci.yml
  deploy.sh
Due: none

debug scripts - See #17
  .gitlab-ci.yml
  deploy.sh
Due: none

Path conditions:
  build_backend: any of: backend/**/*
  build_frontend: any of: frontend/**/*
  test_backend: any of: backend/**/*, database/**/*
  test_frontend: any of: frontend/**/*
