Repository ella-mzg/ci-cd-multicontainer-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, test_backend, test_frontend

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

services:
  - docker:27.3.1-dind

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build_backend:
  stage: build
  image: docker:27.3.1
  script:
    - docker build -t $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG backend/
    - docker push $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
        - backend/**/*

build_frontend:
  stage: build
  image: docker:27.3.1
  script:
    - docker build -t $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG frontend/
    - docker push $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
        - frontend/**/*

test_backend:
  stage: test
  image: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG
  script:
    - echo "Run backend tests here"
  rules:
    - if: "$CI_COMMIT_BRANCH"
    - changes:
        - backend/**/*

test_frontend:
  stage: test
  image: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG
  script:
    - echo "Run frontend tests here"
  rules:
    - if: "$CI_COMMIT_BRANCH"
    - changes:
        - frontend/**/*

deploy:
  stage: deploy
  script:
    - echo "Deploy services"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

add docker TLS cert dir in .gitlab-ci.yml - See #15
  .gitlab-ci.yml
Due: none

downgrade docker image - See #15
  .gitlab-ci.yml
Due: none

trigger pipeline - See #15
  .gitlab-ci.yml
Due: none

add default tag - See #15
  .gitlab-ci.yml
Due: none

trigger pipeline
  .gitlab-ci.yml
Due: none

optimize pipeline conf - See #15
  .gitlab-ci.yml
Due: none

trigger the pipeline for the 100th time - See #15
  .gitlab-ci.yml
Due: none

remove DOCKER_HOST for improved security and try to upgrade docker version - See #15
  .gitlab-ci.yml
Due: none

use local socket as DOCKER_HOST - See #15
  .gitlab-ci.yml
Due: none

give up security - See #15
  .gitlab-ci.yml
Due: none

refactor .gitlab-ci.yml - Close #15
  .gitlab-ci.yml
Due: none

feat: set up gitlab runner
  .gitlab-ci.yml
Due: none

add backend endpoints tests - See #23
  .gitlab-ci.yml
  backend/requirements.txt
  backend/routes.py
  backend/tests/__init__.py
  backend/tests/test_tasks.py
Due: build_backend, test_backend

use python image for backend_tests - See #23
  .gitlab-ci.yml
Due: none

trigger pipeline - See #23
  backend/tests/test_tasks.py
Due: build_backend, test_backend

try things - See #23
  .gitlab-ci.yml
  backend/tests/test_tasks.py
Due: build_backend, test_backend

add db service into backend tests - See #23
  .gitlab-ci.yml
  backend/tests/test_tasks.py
Due: build_backend, test_backend

build and init db separately - See #23
  .gitlab-ci.yml
  backend/tests/test_tasks.py
Due: build_backend, test_backend

try something else - See #23
  .gitlab-ci.yml
  backend/tests/test_tasks.py
Due: build_backend, test_backend

fix .gitlab-ci.yml - See #23
  .gitlab-ci.yml
  backend/tests/test_tasks.py
Due: build_backend, test_backend

use latest backend image with postgresql-client for backend tests - See #23
  .gitlab-ci.yml
  database/init.sql
Due: none

make postgres variables global - See #23
  .gitlab-ci.yml
  database/init.sql
Due: none

add fallback for env variables in backend config - See #23
  backend/.dockerignore
  backend/config.py
Due: build_backend, test_backend

add fallback for FRONTEND_URL too - See #23
  backend/app.py
Due: build_backend, test_backend

feat: add backend tests
  .gitlab-ci.yml
  backend/.dockerignore
  backend/app.py
  backend/config.py
  backend/requirements.txt
  backend/routes.py
  backend/tests/__init__.py
  backend/tests/test_tasks.py
Due: build_backend, test_backend

include SAST stage in .gitlab-ci.yml - See #14
  .gitlab-ci.yml
Due: none

try to fail pipeline - See #14
  .gitlab-ci.yml
Due: none

use semgrep and artifacts for report - See #14
  .gitlab-ci.yml
Due: none

ass shit into the code to make the pipeline fail - See #14
  .gitlab-ci.yml
  frontend/src/utils/taskHandlers.js
Due: build_frontend, test_frontend

add SAST custom ruleset - See #14
  .gitlab/sast-ruleset.toml
  backend/test_sast.py
  frontend/src/testSast.js
  frontend/src/utils/taskHandlers.js
Due: build_backend, build_frontend, test_backend, test_frontend

add --verbose to sast script - See #14
  .gitlab-ci.yml
Due: none

comment template - See #14
  .gitlab-ci.yml
Due: none

pass ruleset to analyzer - See #14
  .gitlab-ci.yml
Due: none

log exit code - See #14
  .gitlab-ci.yml
Due: none

remove --ruleset - See #14
  .gitlab-ci.yml
Due: none

edit SAST template - See #14
  .gitlab-ci.yml
Due: none

try things - See #14
  .gitlab-ci.yml
  .gitlab/sast-ruleset.toml
Due: none

force pipeline failure - See #14
  .gitlab-ci.yml
Due: none

try things - See #14
  .gitlab-ci.yml
Due: none

try to change security and confidence level - See #14
  .gitlab-ci.yml
Due: none
